.camera {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f9ff;
}

.camera-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-input {    
  font-family: 'Quicksand', sans-serif;
}

.photo-submit {
    font-family: 'Quicksand', sans-serif;
}