.list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f9ff;
}

.reciept-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.item-container {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
}